Message2123: {{city}}  ???
<h3>sssss{{currentWeather.Name}}ssss</h3>

<p>{{currentWeather.name}}</p>


<h3>Feels Like: {{currentWeather.Main?.Feels_Like - 273.15 | number:'1.0-0'}}<sup>o</sup>C</h3>
<h3>Temp: {{currentWeather.Main?.Temp - 273.15 | number:'1.0-0'}}<sup>o</sup>C</h3>

<h3 ng-if="!currentWeather">{{currentWeather.Name}}]]]]]]]]</h3>

<!-- 
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>        
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of CurrentWeather">
            <th scope="row">1</th>
            <td>{{dataItem.FirstName}}</td>
            <td>{{dataItem.LastName}}</td>
            <td>{{dataItem.Email}}</td>            
        </tr>
    </tbody>
  </table> -->