
<!-- 
"Name": "Athens",
    "Timezone": 10800,
    "Wind": {
        "Speed": "0.89"
    },
    "Clouds": {
        "All": 0
    },
    "Coord": {
        "Lon": 23.7162,
        "Lat": 37.9795
    },
    "Sys": {
        "Country": "GR",
        "Sunrise": 1627961389,
        "Sunset": 1628011964
    },
    "Weather": [
        {
            "ID": 800,
            "Main": "Clear",
            "Description": "clear sky",
            "Icon": "01d"
        }
    ],
    "Main": {
        "Temp": 310.3,
        "Feels_Like": 309.13,
        "Temp_Min": 308.47,
        "Temp_Max": 311.64,
        "Pressure": 1011,
        "Humidity": 22.0
    } -->
    <h3>{{currentWeather.Name}}</h3>
    <h3>Temp: {{currentWeather.Main?.Temp - 273.15 | number:'1.0-0'}}<sup>o</sup>C</h3>
    <h3>Feels Like: {{currentWeather.Main?.Feels_Like - 273.15 | number:'1.0-0'}}<sup>o</sup>C</h3>    

<!-- 
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>        
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of CurrentWeather">
            <th scope="row">1</th>
            <td>{{dataItem.FirstName}}</td>
            <td>{{dataItem.LastName}}</td>
            <td>{{dataItem.Email}}</td>            
        </tr>
    </tbody>
  </table> -->
