<main class="form-signin">
    <form [formGroup]="userLogin" (ngSubmit)="onSubmit()">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <div class="form-floating">
            <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email"
                formControlName="email" required>
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password"
                formControlName="password" required>
            <label for="floatingPassword">Password</label>
        </div>
        <a href="http://localhost:4200/weather">Sing up</a>
        <button class="btn btn-lg btn-primary w-100 " type="submit">Sign in</button>
    </form>
</main>