<app-top-bar></app-top-bar>
<div id='container'>
    
    <h3 class="d-flex justify-content-center">OpenWeather API</h3>    
<div class="row">
    <div class="col">
         <form>
            <div class="row mb-3">
              <div class="col-sm-10">
                <input type="text" class="form-control" value="city" name="city" placeholder="City" aria-label="City" [(ngModel)]="city">                
              </div>
            </div>            
            <div class="col-sm-10">
                <div class="form-check">                    
                    <input class="form-check-input" type="radio" name="current" value="current" [(ngModel)]="forecast" (change)="onItemChange(forecast)"/>
                    <label class="form-check-label" for="current">
                        Current
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="onehourforecast" value="one-hour" [(ngModel)]="forecast" (change)="onItemChange(forecast)"/>
                    <label class="form-check-label" for="onehourforecast">
                        1 hour
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="twodaysforecast" value="two-days" [(ngModel)]="forecast" (change)="onItemChange(forecast)"/>
                    <label class="form-check-label" for="twodaysforecast">
                        2 Days
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="fourdaysforecast" value="four-days" [(ngModel)]="forecast" (change)="onItemChange(forecast)"/>                    
                    <label class="form-check-label" for="fourdaysforecast">
                        4 Days
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" (click)="refreshCurrentWeather(city)">Submit</button>
        </form> 
    </div>
</div>
    <!-- <div *ngIf='!city' id='search'>
        <h1>Enter location to find weather info.</h1>
    </div> -->
    
      
            <app-current-weather></app-current-weather>                
            <app-two-days-forecast></app-two-days-forecast>
            <app-one-hour-forecast></app-one-hour-forecast>
            <app-seven-days-forecast></app-seven-days-forecast>
            
        
    
</div>