<div class="table-responsive">
    <table class="table align-middle">
        <thead>
            <tr>
                <th scope="col">Precipitation</th>
                <th scope="col">Timezone</th>
                <th scope="col">Date</th>
                <th scope="col">Lat</th>
                <th scope="col">Lon</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let w of weather.Minutely'>
                <td>{{w?.Precipitation}} </td>
                <td>{{weather?.Timezone}}</td>
                <td>{{w?.DT *1000 | date: 'dd/MM/yyyy hh:mm:ss'}} </td>
                <td>{{weather?.Lat}}</td>
                <td>{{weather?.Lon}}</td>
            </tr>
        </tbody>
    </table>
</div>