<h3 class="d-flex justify-content-center">OpenWeather API</h3>    
<div class="row">
    <div class="col">
        <form>
            <div class="row mb-3">
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="City" aria-label="City">                
              </div>
            </div>            
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                    <label class="form-check-label" for="gridRadios1">
                        Current
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                    <label class="form-check-label" for="gridRadios2">
                        1 hour
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                    <label class="form-check-label" for="gridRadios3">
                        2 Days
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
                    <label class="form-check-label" for="gridRadios4">
                        4 Days
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<!-- 
"Name": "Athens",
    "Timezone": 10800,
    "Wind": {
        "Speed": "0.89"
    },
    "Clouds": {
        "All": 0
    },
    "Coord": {
        "Lon": 23.7162,
        "Lat": 37.9795
    },
    "Sys": {
        "Country": "GR",
        "Sunrise": 1627961389,
        "Sunset": 1628011964
    },
    "Weather": [
        {
            "ID": 800,
            "Main": "Clear",
            "Description": "clear sky",
            "Icon": "01d"
        }
    ],
    "Main": {
        "Temp": 310.3,
        "Feels_Like": 309.13,
        "Temp_Min": 308.47,
        "Temp_Max": 311.64,
        "Pressure": 1011,
        "Humidity": 22.0
    } -->
    <h3>{{CurrentWeather.Name}}</h3>
    <h3>Temp: {{CurrentWeather.Main?.Temp - 273.15 | number:'1.0-0'}}<sup>o</sup>C</h3>
    <h3>Feels Like: {{CurrentWeather.Main?.Feels_Like - 273.15 | number:'1.0-0'}}<sup>o</sup>C</h3>    

<!-- 
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>        
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of CurrentWeather">
            <th scope="row">1</th>
            <td>{{dataItem.FirstName}}</td>
            <td>{{dataItem.LastName}}</td>
            <td>{{dataItem.Email}}</td>            
        </tr>
    </tbody>
  </table> -->
